/* Stephen W. Dickey Portfolio Styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(191,255,179);
}

body {
    color: black
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

a:link { 
    text-decoration: none;
    color: black; 
}


a:visited { 
    text-decoration: none;
    color: black; 
}


a:hover { 
    text-decoration: none;
    color: white; 
}


a:active { 
    text-decoration: none;
    color: black; 
}

/* Header Styling */

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-color: var(--primary-color);
    border-bottom: solid 2px black;
}


header nav ul {
    text-align: right;
    justify-content: space-between;
}

header nav ul li {
    padding: 10px;
}

/* About Section Styling */

.section1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: lightgrey;
}

.section1 img {
    max-height: 500px;
    margin: 40px;
    border: solid 2px black;
    margin-right: 40px;
}

.info {
    background-color: var(--primary-color);
    padding-left: 50px;
    border-radius: 10px;
    border: solid 2px black;
}

.info p {
    padding: 20px;
}





/* Projects Section Styling */

.section2 {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    width: 100%;
    border-top: solid 2px black;
}

.section2 div {
    background-color: lightgrey;
}


.project1 {
    width: 100%;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    border: solid 2px black;
}

.section2 img {
   width: 200px;
   height: 200px;
}

.projects {
    width: 75%;
    float: left;
    margin: 20px;
    border-radius: 10px;
    border: solid 2px black;
}


/* Contact Section Styling */

.section3 {
    background-color: lightgrey;
    text-align: center;
    border-top: solid 2px black;
}



/* Footer Styling */

footer {
    background-color: var(--primary-color);
    text-align: center;
    border-top: solid 2px black;
}