/* Stephen W. Dickey Portfolio Styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Header Styling */

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-color: green;
}


header nav ul {
    text-align: right;
    justify-content: space-between;
}

header nav ul li {
    padding: 10px;
}

/* About Section Styling */

.section1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
}

.section1 img {
    max-height: 500px;
    padding-right: 100px;
    margin: 40px;
}

.info {
    padding-left: 50px;
    background-color: green;
}

.info p {
    padding: 20px;
}





/* Projects Section Styling */

.section2 {
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    width: 100%;
}

.section2 div {
    background-color: grey;
}


.project1 {
    width: 100%;
    height: 400px;
    margin: 20px;
}

.section2 img {
   width: 200px;
   height: 200px;
}

.projects {
    width: 75%;
    float: left;
    margin: 20px;
}


/* Contact Section Styling */

.section3 {
    background-color: grey;
}

/* Footer Styling */

footer {
    background-color: green;
}